In [1]:
pip install --upgrade numpy

Requirement already up-to-date: numpy in c:\users\joe\appdata\roaming\python\python37\site-packages (1.21.6)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install --user --upgrade numpy

Requirement already up-to-date: numpy in c:\users\joe\appdata\roaming\python\python37\site-packages (1.21.6)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import requests

# Fetch user data from the API
endpoint_users = "https://jsonplaceholder.typicode.com/users"
response_users = requests.get(endpoint_users)

# Check if the request was successful (status code 200)
if response_users.status_code == 200:
    # Parse the JSON response
    users_data = response_users.json()
    
    # Convert user data to DataFrame
    users_df = pd.DataFrame(users_data)


    # Convert sales data to DataFrame
    import pandas as pd

    sales_df = pd.read_csv(r'C:\Users\JOE\Downloads\AIQ - Data Engineer Assignment - Sales data.csv')
    sales_df

    # Merge user data with sales data based on 'customer_id'
    merged_df = pd.merge(sales_df, users_df, left_on='customer_id', right_on='id', how='left')
    # Drop the redundant 'id' column
    merged_df.drop(columns=['id'], inplace=True)
    # Display the merged DataFrame
    print(merged_df)

else:
    print("Failed to fetch user data. Status code:", response_users.status_code)

C:\Users\JOE\AppData\Roaming\Python\Python37\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

     order_id  customer_id  product_id  quantity  price  order_date  \
0        2334            5          40         3  35.60  2022-06-21
1        6228            8          13         7  36.52  2023-03-08
2        7784            9          44         4  46.56  2023-04-22
3        6588            5          26         1  15.87  2022-10-23
4        5910            8          32        10  77.00  2022-10-05
..        ...          ...         ...       ...    ...         ...
995      7967            6          34        10  14.44  2022-07-26
996      8308            6          16         1  61.38  2023-03-04
997      6938            4          18         7  62.96  2022-11-27
998      5921            9          37         9  52.89  2022-09-22
999      8395            4          16         7  46.09  2022-06-10

                         name          username                      email  \
0            Chelsey Dietrich            Kamren   Lucio_Hettinger@annie.ca
1    Nicholas Runolfsdottir V     Maxime_Nienow       Sherwood@rosamond.me
2             Glenna Reichert          Delphine    Chaim_McDermott@dana.io
3            Chelsey Dietrich            Kamren   Lucio_Hettinger@annie.ca
4    Nicholas Runolfsdottir V     Maxime_Nienow       Sherwood@rosamond.me
..                        ...               ...                        ...
995      Mrs. Dennis Schulist  Leopoldo_Corkery    Karley_Dach@jasper.info
996      Mrs. Dennis Schulist  Leopoldo_Corkery    Karley_Dach@jasper.info
997          Patricia Lebsack          Karianne  Julianne.OConner@kory.org
998           Glenna Reichert          Delphine    Chaim_McDermott@dana.io
999          Patricia Lebsack          Karianne  Julianne.OConner@kory.org

                                               address                 phone  \
0    {'street': 'Skiles Walks', 'suite': 'Suite 351...         (254)954-1289
1    {'street': 'Ellsworth Summit', 'suite': 'Suite...     586.493.6943 x140
2    {'street': 'Dayna Park', 'suite': 'Suite 449',...  (775)976-6794 x41206
3    {'street': 'Skiles Walks', 'suite': 'Suite 351...         (254)954-1289
4    {'street': 'Ellsworth Summit', 'suite': 'Suite...     586.493.6943 x140
..                                                 ...                   ...
995  {'street': 'Norberto Crossing', 'suite': 'Apt....  1-477-935-8478 x6430
996  {'street': 'Norberto Crossing', 'suite': 'Apt....  1-477-935-8478 x6430
997  {'street': 'Hoeger Mall', 'suite': 'Apt. 692',...     493-170-9623 x156
998  {'street': 'Dayna Park', 'suite': 'Suite 449',...  (775)976-6794 x41206
999  {'street': 'Hoeger Mall', 'suite': 'Apt. 692',...     493-170-9623 x156

          website                                            company
0    demarco.info  {'name': 'Keebler LLC', 'catchPhrase': 'User-c...
1    jacynthe.com  {'name': 'Abernathy Group', 'catchPhrase': 'Im...
2      conrad.com  {'name': 'Yost and Sons', 'catchPhrase': 'Swit...
3    demarco.info  {'name': 'Keebler LLC', 'catchPhrase': 'User-c...
4    jacynthe.com  {'name': 'Abernathy Group', 'catchPhrase': 'Im...
..            ...                                                ...
995       ola.org  {'name': 'Considine-Lockman', 'catchPhrase': '...
996       ola.org  {'name': 'Considine-Lockman', 'catchPhrase': '...
997      kale.biz  {'name': 'Robel-Corkery', 'catchPhrase': 'Mult...
998    conrad.com  {'name': 'Yost and Sons', 'catchPhrase': 'Swit...
999      kale.biz  {'name': 'Robel-Corkery', 'catchPhrase': 'Mult...

[1000 rows x 13 columns]

In [4]:
import requests

# Define your OpenWeatherMap API key
api_key = '2b598bb41ffba33da5ed132144c33448'

# Define the base URL for the OpenWeatherMap API
base_url = 'https://api.openweathermap.org/data/2.5/weather'

# Define the city for which you want to fetch weather data
city_name = 'New York'

# Define the parameters for the API request
params = {'q': city_name, 'appid': api_key}

# Send a GET request to the OpenWeatherMap API
response = requests.get(base_url, params=params)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Parse the JSON response
    weather_data = response.json()

    # Extract relevant weather information
    weather_description = weather_data['weather'][0]['description']
    temperature_kelvin = weather_data['main']['temp']
    temperature_celsius = temperature_kelvin - 273.15
    humidity = weather_data['main']['humidity']

    # Display the weather information
    print("Weather in", city_name)
    print("Description:", weather_description)
    print("Temperature (Celsius):", temperature_celsius)
    print("Humidity:", humidity)
else:
    print("Failed to fetch weather data. Status code:", response.status_code)

Weather in New York
Description: overcast clouds
Temperature (Celsius): 8.160000000000025
Humidity: 59

In [5]:
import requests

# Function to fetch weather data for a given location using OpenWeatherMap API
def fetch_weather_data(api_key, city_name):
    base_url = 'https://api.openweathermap.org/data/2.5/weather'
    params = {'q': city_name, 'appid': api_key, 'units': 'metric'}  # Specify units as Celsius
    response = requests.get(base_url, params=params)
    if response.status_code == 200:
        weather_data = response.json()
        return weather_data
    else:
        print("Failed to fetch weather data for", city_name)
        return None

# Sample sales data with fictional store addresses
sales_data = [
    {"sale_id": 1, "store_address": "New York, USA"},
    {"sale_id": 2, "store_address": "London, UK"},
    {"sale_id": 3, "store_address": "Tokyo, Japan"}
]

# Obtain your OpenWeatherMap API key
api_key = '2b598bb41ffba33da5ed132144c33448'

# Iterate over each sale and fetch weather data for the corresponding location
for sale in sales_data:
    location = sale['store_address']
    weather_data = fetch_weather_data(api_key, location)
    if weather_data:
        # Extract relevant weather information
        temperature = weather_data['main']['temp']
        weather_description = weather_data['weather'][0]['description']
        # Include weather information in the final dataset
        sale['temperature'] = temperature
        sale['weather_description'] = weather_description

# Display the final dataset with weather information
for sale in sales_data:
    print("Sale ID:", sale['sale_id'])
    print("Store Address:", sale['store_address'])
    print("Temperature (Celsius):", sale['temperature'])
    print("Weather Description:", sale['weather_description'])
    print("----------------------------------------------")

Sale ID: 1
Store Address: New York, USA
Temperature (Celsius): 8.18
Weather Description: overcast clouds
----------------------------------------------
Sale ID: 2
Store Address: London, UK
Temperature (Celsius): 12.03
Weather Description: light rain
----------------------------------------------
Sale ID: 3
Store Address: Tokyo, Japan
Temperature (Celsius): 7.33
Weather Description: broken clouds
----------------------------------------------

In [6]:
import requests
import pandas as pd

# Function to fetch weather data for a given location using OpenWeatherMap API
def fetch_weather_data(api_key, city_name):
    base_url = 'https://api.openweathermap.org/data/2.5/weather'
    params = {'q': city_name, 'appid': api_key, 'units': 'metric'}  # Specify units as Celsius
    response = requests.get(base_url, params=params)
    if response.status_code == 200:
        weather_data = response.json()
        return weather_data
    else:
        print("Failed to fetch weather data for", city_name)
        return None

# Sample sales data with fictional store addresses
sales_data = [
    {"sale_id": 1, "store_address": "New York, USA", "amount": 100},
    {"sale_id": 2, "store_address": "London, UK", "amount": 150},
    {"sale_id": 3, "store_address": "Tokyo, Japan", "amount": 200}
]

# Obtain your OpenWeatherMap API key
api_key = '2b598bb41ffba33da5ed132144c33448'

# List to store sales data with weather information
sales_with_weather = []

# Iterate over each sale and fetch weather data for the corresponding location
for sale in sales_data:
    location = sale['store_address']
    weather_data = fetch_weather_data(api_key, location)
    if weather_data:
        # Extract relevant weather information
        temperature = weather_data['main']['temp']
        weather_condition = weather_data['weather'][0]['main']
        # Include weather information in the final dataset
        sale['temperature'] = temperature
        sale['weather_condition'] = weather_condition
        # Append sale data with weather information to the list
        sales_with_weather.append(sale)

# Convert the list of sales data with weather information to a DataFrame
df = pd.DataFrame(sales_with_weather)

# Display the final dataset with weather information
print(df)

   sale_id  store_address  amount  temperature weather_condition
0        1  New York, USA     100         8.18            Clouds
1        2     London, UK     150        12.03              Rain
2        3   Tokyo, Japan     200         7.33            Clouds

In [7]:
import pandas as pd
 # Merge user data with sales data based on 'customer_id'
merged_df = pd.merge(sales_df, users_df, left_on='customer_id', right_on='id', how='left')
# Drop the redundant 'id' column
merged_df.drop(columns=['id'], inplace=True)

#To calculate amount
merged_df["amount"]=merged_df["quantity"]*merged_df["quantity"]
merged_df.head()

# Display the merged DataFrame
print(merged_df)

# 1. Calculate total sales amount per customer
total_sales_per_customer = merged_df.groupby('customer_id')['amount'].sum()

# 2. Determine the average order quantity per product
average_order_quantity_per_product = merged_df.groupby('product_id')['quantity'].mean()

# 3. Identify the top-selling products or customers
top_selling_products = merged_df.groupby('product_id')['quantity'].sum().nlargest(5)
top_customers = merged_df.groupby('customer_id')['amount'].sum().nlargest(5)

# 4. Analyze sales trends over time (e.g., monthly or quarterly sales) - Assuming we have a date column
merged_df['order_date'] = pd.to_datetime(merged_df['order_date'])
monthly_sales = merged_df.groupby(merged_df['order_date'].dt.month)['amount'].sum()
quarterly_sales = merged_df.groupby(merged_df['order_date'].dt.quarter)['amount'].sum()

# 5. Include weather data in the analysis (e.g., average sales amount per weather condition)
average_sales_per_weather_condition = df.groupby('weather_condition')['amount'].mean()

# Display the results
print("1. Total Sales Amount per Customer:")
print(total_sales_per_customer)
print("\n2. Average Order Quantity per Product:")
print(average_order_quantity_per_product)
print("\n3. Top Selling Products:")
print(top_selling_products)
print("\nTop Customers:")
print(top_customers)
# print("\n4. Monthly Sales:")
# print(monthly_sales)
# print("\nQuarterly Sales:")
# print(quarterly_sales)
print("\n5. Average Sales Amount per Weather Condition:")
print(average_sales_per_weather_condition)

     order_id  customer_id  product_id  quantity  price  order_date  \
0        2334            5          40         3  35.60  2022-06-21
1        6228            8          13         7  36.52  2023-03-08
2        7784            9          44         4  46.56  2023-04-22
3        6588            5          26         1  15.87  2022-10-23
4        5910            8          32        10  77.00  2022-10-05
..        ...          ...         ...       ...    ...         ...
995      7967            6          34        10  14.44  2022-07-26
996      8308            6          16         1  61.38  2023-03-04
997      6938            4          18         7  62.96  2022-11-27
998      5921            9          37         9  52.89  2022-09-22
999      8395            4          16         7  46.09  2022-06-10

                         name          username                      email  \
0            Chelsey Dietrich            Kamren   Lucio_Hettinger@annie.ca
1    Nicholas Runolfsdottir V     Maxime_Nienow       Sherwood@rosamond.me
2             Glenna Reichert          Delphine    Chaim_McDermott@dana.io
3            Chelsey Dietrich            Kamren   Lucio_Hettinger@annie.ca
4    Nicholas Runolfsdottir V     Maxime_Nienow       Sherwood@rosamond.me
..                        ...               ...                        ...
995      Mrs. Dennis Schulist  Leopoldo_Corkery    Karley_Dach@jasper.info
996      Mrs. Dennis Schulist  Leopoldo_Corkery    Karley_Dach@jasper.info
997          Patricia Lebsack          Karianne  Julianne.OConner@kory.org
998           Glenna Reichert          Delphine    Chaim_McDermott@dana.io
999          Patricia Lebsack          Karianne  Julianne.OConner@kory.org

                                               address                 phone  \
0    {'street': 'Skiles Walks', 'suite': 'Suite 351...         (254)954-1289
1    {'street': 'Ellsworth Summit', 'suite': 'Suite...     586.493.6943 x140
2    {'street': 'Dayna Park', 'suite': 'Suite 449',...  (775)976-6794 x41206
3    {'street': 'Skiles Walks', 'suite': 'Suite 351...         (254)954-1289
4    {'street': 'Ellsworth Summit', 'suite': 'Suite...     586.493.6943 x140
..                                                 ...                   ...
995  {'street': 'Norberto Crossing', 'suite': 'Apt....  1-477-935-8478 x6430
996  {'street': 'Norberto Crossing', 'suite': 'Apt....  1-477-935-8478 x6430
997  {'street': 'Hoeger Mall', 'suite': 'Apt. 692',...     493-170-9623 x156
998  {'street': 'Dayna Park', 'suite': 'Suite 449',...  (775)976-6794 x41206
999  {'street': 'Hoeger Mall', 'suite': 'Apt. 692',...     493-170-9623 x156

          website                                            company  amount
0    demarco.info  {'name': 'Keebler LLC', 'catchPhrase': 'User-c...       9
1    jacynthe.com  {'name': 'Abernathy Group', 'catchPhrase': 'Im...      49
2      conrad.com  {'name': 'Yost and Sons', 'catchPhrase': 'Swit...      16
3    demarco.info  {'name': 'Keebler LLC', 'catchPhrase': 'User-c...       1
4    jacynthe.com  {'name': 'Abernathy Group', 'catchPhrase': 'Im...     100
..            ...                                                ...     ...
995       ola.org  {'name': 'Considine-Lockman', 'catchPhrase': '...     100
996       ola.org  {'name': 'Considine-Lockman', 'catchPhrase': '...       1
997      kale.biz  {'name': 'Robel-Corkery', 'catchPhrase': 'Mult...      49
998    conrad.com  {'name': 'Yost and Sons', 'catchPhrase': 'Swit...      81
999      kale.biz  {'name': 'Robel-Corkery', 'catchPhrase': 'Mult...      49

[1000 rows x 14 columns]
1. Total Sales Amount per Customer:
customer_id
1     3135
2     4116
3     4131
4     3782
5     3803
6     3978
7     3641
8     4004
9     3843
10    4442
Name: amount, dtype: int64

2. Average Order Quantity per Product:
product_id
1     5.000000
2     5.916667
3     6.307692
4     6.750000
5     5.000000
6     5.461538
7     4.866667
8     6.222222
9     5.133333
10    4.954545
11    5.027778
12    6.350000
13    6.090909
14    7.187500
15    5.500000
16    5.200000
17    5.555556
18    6.000000
19    6.227273
20    6.000000
21    4.888889
22    5.461538
23    5.571429
24    6.700000
25    4.842105
26    5.344828
27    6.809524
28    5.833333
29    5.791667
30    6.105263
31    5.083333
32    5.380952
33    5.000000
34    6.200000
35    5.631579
36    6.115385
37    4.880000
38    5.764706
39    5.000000
40    4.400000
41    4.500000
42    4.928571
43    5.466667
44    5.592593
45    5.148148
46    5.333333
47    5.120000
48    6.421053
49    5.291667
50    5.666667
Name: quantity, dtype: float64

3. Top Selling Products:
product_id
11    181
36    159
23    156
26    155
44    151
Name: quantity, dtype: int64

Top Customers:
customer_id
10    4442
3     4131
2     4116
8     4004
6     3978
Name: amount, dtype: int64

5. Average Sales Amount per Weather Condition:
weather_condition
Clouds    150.0
Rain      150.0
Name: amount, dtype: float64

In [8]:

merged_df["amount"]=merged_df["quantity"]*merged_df["quantity"]
merged_df.head(1)

merged_df.columns

Index(['order_id', 'customer_id', 'product_id', 'quantity', 'price',
       'order_date', 'name', 'username', 'email', 'address', 'phone',
       'website', 'company', 'amount'],
      dtype='object')

In [9]:
# 4. Analyze sales trends over time (e.g., monthly or quarterly sales) - Assuming we have a date column
merged_df['order_date'] = pd.to_datetime(merged_df['order_date'])
monthly_sales = merged_df.groupby(merged_df['order_date'].dt.month)['amount'].sum()
quarterly_sales = merged_df.groupby(merged_df['order_date'].dt.quarter)['amount'].sum()
print(monthly_sales)

order_date
1     3141
2     3309
3     2918
4     3642
5     2796
6     3324
7     3525
8     3068
9     3518
10    2858
11    2834
12    3942
Name: amount, dtype: int64

In [10]:
import pandas as pd
import matplotlib.pyplot as plt

# Assuming 'merged_df' contains the merged dataset including sales and weather data

# Convert the 'date' column to datetime type (if not already)
merged_df['date'] = pd.to_datetime(merged_df['order_date'])

# Group sales data by month and calculate total sales amount for each month
monthly_sales = merged_df.resample('M', on='order_date').sum()

# Group sales data by quarter and calculate total sales amount for each quarter
quarterly_sales = merged_df.resample('Q', on='order_date').sum()

# Plot monthly and quarterly sales trends
plt.figure(figsize=(12, 6))

# Plot monthly sales trends
plt.plot(monthly_sales.index, monthly_sales['amount'], marker='o', linestyle='-', label='Monthly Sales')

# Plot quarterly sales trends
plt.plot(quarterly_sales.index, quarterly_sales['amount'], marker='s', linestyle='--', label='Quarterly Sales')

plt.title('Sales Trends Over Time')
plt.xlabel('Time')
plt.ylabel('Total Sales Amount')
plt.xticks(rotation=45)
plt.grid(True)
plt.legend()
plt.tight_layout()
plt.show()

C:\ProgramData\Anaconda3\lib\site-packages\matplotlib\cbook\__init__.py:1402: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  x[:, None]
C:\ProgramData\Anaconda3\lib\site-packages\matplotlib\cbook\__init__.py:1402: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  x[:, None]
C:\ProgramData\Anaconda3\lib\site-packages\matplotlib\axes\_base.py:276: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  x = x[:, np.newaxis]
C:\ProgramData\Anaconda3\lib\site-packages\matplotlib\axes\_base.py:278: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  y = y[:, np.newaxis]
C:\ProgramData\Anaconda3\lib\site-packages\matplotlib\cbook\__init__.py:1402: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  x[:, None]
C:\ProgramData\Anaconda3\lib\site-packages\matplotlib\axes\_base.py:276: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  x = x[:, np.newaxis]
C:\ProgramData\Anaconda3\lib\site-packages\matplotlib\axes\_base.py:278: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  y = y[:, np.newaxis]

In [11]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\programdata\anaconda3\lib\site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\programdata\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.3)
Note: you may need to restart the kernel to use updated packages.

In [12]:
merged_df.head(1)

,order_id,customer_id,product_id,quantity,price,order_date,name,username,email,address,phone,website,company,amount,date
0,2334,5,40,3,35.6,2022-06-21,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c...",9,2022-06-21

In [13]:
# Check if the connection was successful
if conn.is_connected():
    print("Connected to MySQL database")

# Retrieve data from Python DataFrame
# Assuming df is your DataFrame  # Your DataFrame initialization

# Execute MySQL queries
cursor = conn.cursor()

# Insert data from DataFrame into MySQL table
for index, row in merged_df.iterrows():
    query = "INSERT INTO your_table_name (column1, column2, ...) VALUES (%s, %s, ...)"
    values = tuple(row)
    cursor.execute(query, values)

# Retrieve data from MySQL table
query = "SELECT * FROM your_table_name"
cursor.execute(query)
result = cursor.fetchall()

# Print the retrieved data
for row in result:
    print(row)

# Commit the transaction
conn.commit()

# Close the cursor and connection
cursor.close()
conn.close()

NameError: name 'conn' is not defined

In [14]:
pip install pandas sqlalchemy

Requirement already satisfied: pandas in c:\users\joe\appdata\roaming\python\python37\site-packages (1.3.5)
Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2019.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: numpy>=1.17.3; platform_machine != "aarch64" and platform_machine != "arm64" and python_version < "3.10" in c:\users\joe\appdata\roaming\python\python37\site-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

In [15]:
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
pip install pymysql

In [ ]:
pip install MySQL-python

In [ ]:
import socket

hostname = socket.gethostname()
print("Hostname:", hostname)

In [ ]:
# Replace 'username', 'password', 'localhost', and 'database_name' with your MySQL credentials and database details
engine = create_engine('mysql://root:8925630577@LAPTOP-RTSBT8PU/joe')